@model SignalRPoc.Models.Model

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Model</h4>
        <hr />
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button"class="btn btn-danger" onclick="$(this).closest('tr').empty();">Cancel</button>
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}