@model SignalRPoc.Models.Model

<td colspan="2">
    @using (Ajax.BeginForm(
            MVC.Data.Edit(),
            new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "editPostSuccess",
                OnFailure = "editPostFailure"
            }))
    {
        <div class="form-horizontal">
            <h4>Model</h4>
            <hr />
            @Html.HiddenFor(model => model.Id)
            <input type="hidden" name="SignalRClientId" value="should be set on load by the on-success handler" />

            <div class="form-group">
                @Html.LabelFor(model => model.Data, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cancel" data-action="/Data/CancelEdit" onclick="editPost(event)" class="btn btn-danger" />
                    <input type="submit" value="Save" data-action="/Data/Edit" onclick="editPost(event)" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</td>