@model SignalRPoc.Models.Model

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Home"))
{
    @Html.EditorForModel()
    <br />
    <input type="submit" class="btn btn-primary" value="Save"/>
}